@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52, 58, 64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
}

body {
  font-family: "Roboto" sans-serif;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  z-index: 2;
}

.logo {
  width: 3.125rem;
}

/*---Menu Links----*/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primay-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primay-orange);
}
/*-------------------------------Header--------------------------*/

.header-wrapper {
  position: relative;
  /* background: url(wall-and-laptop.jpg) no-repeat; */
  background: url(wall-and-laptop-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  /* font-family: "Roboto" sans-serif; */
}

.main-info h1 {
  color: var(--primary-white);
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
}

/*-------------------------------Typed TExt--------------------------*/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/*-------------------------------Header Main offer button-------------------------*/

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
}
.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}

/*-------------------------------Particless Js------------------------*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/*-------------------------------About Me------------------------*/
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  /* width: 70%; */
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--primay-orange);
}

.about-heading {
  text-transform: uppercase;
  color: var(--primay-orange);
}

@media (max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

/*-------------------------------Porftolio------------------------*/
.portfolio-wrapper {
  background: var(--primary-light-grey);
  padding: 3rem 0;
}

.portfolio-image {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border: 1px solid var(--primary-orange);
  padding: 0 0.5rem;
}

/* .portfolio-image-box {
  position: relative;
  margin: 1rem;
} */

/*-------------------------------Overflow Box ------------------------*/
.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 15rem;
  height: 15rem;
  top: 0;
  border: 1px solid var(--primary-red);
  cursor: pointer;
}

.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 7.2rem;
  color: var(--primary-orange);
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/*-------------------------------PopupBox ------------------------*/
.portfolio-image-popupbox-linter {
  width: 55rem;
  padding: 0 0.5rem;
  /* margin: 0 auto; */
}

.portfolio-image-popupbox-game {
  width: 30rem;

  padding: 0 0.5rem;
  margin: 0 auto;
}

.hyper-link {
  cursor: pointer;
  color: var(--primary-orange);
}

.hyper-link:hover {
  color: var(--primary-red);
}

.justimage {
  width: 100%;
  text-align: center;
}
/* .portfolio-image {
  width: 45rem;
  padding: 0 0.5rem;
} */
